<h3>
<span class="linkedinDetail"></span>
<br>
<small> <i class="ion-star"> </i> Computer Engineer, Agile Project Manager, Technical Lead and Full Stack Developer</small><br>
<small> &nbsp;<i class="ion-key"> </i>&nbsp;&nbsp;Fingerprint: 6631 1FE3 478A DC6E CF71  9444 AD5B BAC9 6C02 6E9C</small> <br>
<small> <i class="ion-social-tux"></i>&nbsp; Debian (sid), GNU/Linux counter id #527003 </small><br>
<small><i class="ion-email"></i>&nbsp;&nbsp;<a href="mailto:juniorgerdet@gmail.com">juniorgerdet@gmail.com</a></small><br>
<small><i class="ion-social-skype-outline"></i>&nbsp;&nbsp;juniorgerdet</small>
													</p>
</h3>
<br>

<div class="row">
	<div class="col-md-2">
		
 <a href="https://twitter.com/juniorgerdet" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @juniorgerdet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	</div>
	<div class="col-md-2">

  <iframe src="https://ghbtns.com/github-btn.html?user=juniorgerdet&type=follow&count=false&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
		
	</div>

</div>	
